@import '../globals.scss';

.join_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1{
        margin-top: 152px;
        margin-bottom: 67px;
    }
    form {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}