@import '../globals.scss';

.join_container {
    position: relative;
}

.join_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
        margin-top: 152px;
        margin-bottom: 67px;
    }

    form {
        display: flex;
        justify-content: center;
        flex-direction: column;

        >p {
            font-size: 12px;
            color: #82B7F6;
            margin-bottom: 10px;
        }

        >div {
            position: relative;
            padding: 0;

            .emailCertificationBtn {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translate(-0%, -50%);
                border: none;
                width: 50px;
                height: 20px;
                background: #82B7F6;
                border-radius: 5px;
                color: #FFFFFF;
                cursor: pointer;
            }
            .emailCertificationBtn.active{
                background: #D9D9D9;
            }
        }
    }

    .join_modal {
        width: 625px;
        height: 262px;
        border: 1px solid black;
        box-shadow: 4px 4px 4px 2px #00000040;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #ffffff;
    }
}